a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #000;
}

body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    padding: 220px 0 0 200px;
}

img {
    border: 1px solid;
}

#content {
    text-align: center;
    margin: 10px;
    height: 100%;
}

#content img {
    width: 100%;
}

#header {
    height: 220px;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid;
}

#header li {
    display: inline;
    list-style-type: none;
}

#header li a {
    padding-right: 5px;
}

#sidebar {
    height: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    top: 220px;
    width: 200px;
    border-right: 1px solid;
    border-top: 1px solid;
}

#sidebar li {
    font-size: x-small;
}

#footer {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}

.footer {
    background: #fff;
}

.footer a {
    border: 1px solid #000;
}

.treeview {
    margin: 0;
    padding: 0;
}

.treeview ul {
    font-weight: 400;
}

.treeview li {
    white-space: nowrap;
    padding-left: 20px;
    padding-bottom: 2px;
    list-style-type: none;
}

.treeview li.subtree {
    background-repeat: no-repeat;
    cursor: hand !important;
    cursor: pointer !important;
}

.treeview li.subtree ul {
    display: none;
}

.treeview .subtree ul li {
    cursor: default;
}
